
<div class="panel panel-default">
    <div class="panel-heading">  </div>
    <div class="panel-body">
        <p><b>Name </b>     <span id="name"></span></p>
        <p><b>Year </b>     <span id="year"></span></p>
        <p><b>Price </b>    <span id="price"></span></p>
        <p><b>Brand  </b>   <span id="brand"></span></p>
        <p><b>Category </b><span id="category"></span></p>

        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Store</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody id="stores">
            </tbody>
        </table>
    </div>

</div>

